!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
*.iml
.gradle
/local.properties
.idea/*
*.ipr
*.iws
.DS_Store
*/build
/captures
.externalNativeBuild
.cxx
.build
app/src/main/java/cookpad/com/sample/Credentials.kt
